<nav>
  <a href="/about">What's this?</a>
</nav>
<div id="color-control">
  <p>First, pick a color:</p>
  <input type="text" name="color" id="color">
</div>
<form id="drop" action="upload" method="post" class="dropzone">
  <input name="color" type="hidden">
</form>
<p>And download your recolored images below:</p>
<div id="response"></div>
